vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2011 19:00:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|docs/zvonki_print.html master/obsolete/db/exams_syllabus_print.html postgrad/entrance_exam_print.html master/obsolete/sp/exams_syllabus_print.html _template/print_computer_page.dwt
vti_author:SR|SHAMAKINAAV\\Anastasia
vti_modifiedby:SR|SHAMAKINAAV\\Anastasia
vti_timecreated:TR|06 Mar 2011 19:00:00 -0000
vti_syncwith_sp.susu.ru\:21:TX|06 Mar 2011 18:00:00 -0000
vti_syncofs_sp.susu.ru\:21:TW|14 Jul 2016 13:17:37 -0000
vti_cacheddtm:TX|06 Mar 2011 18:00:00 -0000
vti_filesize:IR|966
vti_syncwith_hosting06.urc.ac.ru\:22:TX|06 Mar 2011 18:00:00 -0000
vti_syncofs_hosting06.urc.ac.ru\:22:TW|03 Mar 2017 14:05:59 -0000
